{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block body %}


 <!-- ======= About Section ======= -->
 <section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
         
        </div>
       
         
            <div class="row" style="padding: 20px;">
                <div class="col-2">
                   
                </div>
                <div class="col-8">
                    <h2 class="red">Our Ethos</h2><br>
                    <p>At Park Boxing London, we are passionate about boxing and fitness. We believe Boxing is a
                        sport for everyone! Regardless of your age, gender or occupation, boxing could be
                        the sport for you. We approach each client differently and tailor your sessions
                        according to your own personal goals, experience and fitness level.
                    </p>
                    <p>
                        Whether you want to box competitively, improve your general fitness or just learn a new
                        skill - we can help you achieve that.
                    </p> <br>
                    <h2 class="red">Our Trainers</h2>
                </div>
            </div>

   

            <div class="row" style="padding: 20px;" >
                <div class="col-2" >
                    <img src="/static/img/aidinaction.png" height="200px" >
                </div>
                <div class="col-8">
                    <h4><u>Aidan</u></h4>
                    South African born, Aidan is a lover of old school boxing legends like
                    Joe Frazier, George Foreman and Mike Tyson. He tries to emulate these legends through his 
                    tough, gritty style of boxing - focusing on physical conditioning and explosiveness. Aidan 
                    is a boxer-puncher, utilizing sharp counter punches and devastating hooks to attack his 
                    opponents.
                    <p> - Has been a trainer for over 3 years. </p>
                    
                </div>
            
            </div>

            <div class="row" style="padding: 20px;">
                <div class="col-2">
                    <img src="/static/img/jamesinaction.png" height="200px">
                </div>
                <div class="col-8">
                    <h4 ><u>James</u></h4>
                    Also born in South Africa, James learned boxing at a young age, wanting to follow
                    in the footsteps of old school South African boxing legends like Corrie Sanders.
                    James admires fighters like James Tony, Floyd mayweather and Lennox Lewis. 
                    James' style focuses on technique and footwork to set up punches. He enjoys 
                    using slick techniques to find openings and outclass his opponents.
                    <p>- Has been a trainer for 3 years.</p> 
                </div>
            </div>

        </div>
      

    </div>
  </section><!-- End About Section -->

   
        <div class="row align-items-center">
  
            <div class="col-8">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="width: 300px">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/static/img/box3.jpg" class="d-block w-100" alt="..." style="size:cover ;">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/img/box5.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/img/box6.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>    
            </div>
           

        </div>
  
  


{% endblock %}