{% extends 'base.html' %}

{% block title %}Park Boxing London{% endblock %}

{% block body %}


 <!-- ======= Contact Section ======= -->
 <section id="contact" class="contact">
    <div class="container">

        <h2 class="red">Cost</h2>

        <div class="container" >
            <div class="row" style="padding:20px">
              <div class="col">
                Individual private lesson
              </div>
              <div class="col">
                £50
              </div>
              <div class="col-6">
                A one to one boxing lesson, covering technique, padwork, strength and conditioning. 
                Lessons are custimized to indiviudual clients needs and goals.
              </div>
            </div>
            <div class="row" style="padding:20px">
                <div class="col">
                  Private group class
                </div>
                <div class="col">
                  £40 per person
                </div>
                <div class="col-6">
                  If you would like to train with a friend or family member, this option is for you.
                  classes will still focus on your personal goals but there is opportunity for 
                  different partner exercises and possibly sparring.
                </div>
              </div>
              <div class="row" style="padding:20px">
                <div class="col">
                  5 lesson in advance
                </div>
                <div class="col">
                  £210
                </div>
                <div class="col-6">
                  If you buy 5 private lessons in advance, paying £210, you will get a 16% discount.
                </div>
              </div>
          </div>

    </div>
  </section><!-- End Contact Section -->


{% endblock %}